<div class="form-group">
    <form role="form" id="add_note_form" method="post">
        {% module xsrf_form_html() %}
        {% module CompanyDropdown(companies) %}
        {% module NoteTypeDropdown() %}
        {% module ContactDropdown(False) %}
        <!-- Date selector -->
        <div class="form-group col-md-6 col-lg-4">
            <label>Select Date: </label>
            <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
                <input class="form-control" type="text" name="date" readonly required/>
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
        <!-- Note entry -->
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="note">Note:</label>
            <textarea class="form-control" rows="5" id="note" name="note" required></textarea>
        </div>
        <div class="form-group col-lg-12">
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
            <button type="reset" class="btn btn-inverse pull-right">Cancel</button>
        </div>
    </form>
</div>