<div class="form-group">
    <form role="form" id="rem_contact_form" method="post">
        {% module xsrf_form_html() %}
        <div class="row">
            {% module CompanyDropdown(companies) %}
            {% module ContactDropdown() %}
        </div>
        <div class="row">
            <div class="form-group col-lg-12">
                <label for="firstname">First Name:</label>
                <input id="firstname" type="text" class="form-control" name="firstname" disabled>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12">
                <label for="lastname">Last Name:</label>
                <input id="lastname" type="text" class="form-control" name="lastname" disabled>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12">
                <label for="title">Title:</label>
                <input id="title" type="text" class="form-control" name="title" disabled>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12">
                <label for="email">Email Address:</label>
                <input id="email" type="email" class="form-control" name="email" disabled>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-10 col-md-10 col-sm-10 col-xs-9" style="padding-right: 0;">
                <label for="phone">Phone Number:</label>
                <input id="phone" type="tel" class="form-control" name="phone" disabled>
            </div>
            <div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-3">
                <label for="ext">Ext:</label>
                <input id="ext" type="text" class="form-control" name="ext" disabled>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12">
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>
        </div>
    </form>
</div>