<form role="form" id="wire-cutting-form" method="post">
    {% module xsrf_form_html() %}
    <div class="form-group">
        <div class="row">
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            {% module PartNumberDropdown(
                reels,
                uid="reel_partnumber",
                name="reel_partnumber",
                label="Reel:",
                classes='ui-selectize col-lg-8 col-md-8 col-sm-12 col-xs-12'
            ) %}
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label for="reel_qty">Qty:</label>
                <input id="reel_qty" name="reel_qty" type="text"
                       class="form-control" required>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding-bottom: 5px;">
                <label for="reel_len">Feet:</label>
                <input id="reel_len" name="reel_len" type="text"
                       class="form-control" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button type="button" class="btn btn-primary pull-right"
                        onclick="wire_cutting.add_reel()">
                    Add Reel
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-condensed" id="reels" width="100%">
                <thead>
                <tr>
                    <th></th>
                    <th>Part Number</th>
                    <th>Qty</th>
                    <th>Length</th>
                </tr>
                </thead>
            </table>
            <button type="button" class="btn btn-danger pull-right" onclick="wire_cutting.remove_item('#reels')">
                Remove
            </button>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            {% module PartNumberDropdown(
                cuts,
                uid="cut_partnumber",
                name="cut_partnumber",
                label="Cut:",
                classes='ui-selectize col-lg-10 col-md-10 col-sm-12 col-xs-12'
            ) %}
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding-bottom: 5px;">
                <label for="cut_qty">Qty:</label>
                <input id="cut_qty" name="cut_qty" type="text"
                       class="form-control" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button type="button" class="btn btn-primary pull-right"
                        onclick="wire_cutting.add_cut()">
                    Add Cut
                </button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-condensed" id="cuts" width="100%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Part Number</th>
                        <th>Qty</th>
                        <th>Length</th>
                    </tr>
                    </thead>
                </table>
                <button type="button" class="btn btn-danger pull-right"
                        onclick="wire_cutting.remove_item('#cuts')">Remove
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary pull-right" onclick="wire_cutting.submit()">Create Job</button>
        </div>
    </div>
</form>