body {
    background-color: #D8DCE3;
}

.checkbox > label {
    font-weight: 700;
}

.center-block {
    float: none;
}

#notes {
    max-height: 275px;
    overflow: auto;
}

.btn-inverse {
    color: white;
    background-color: #2A2A2A;
}

.btn-inverse:hover {
    color: white;
    background-color: #1F1F1F;
}

.btn-inverse:focus {
    color: white;
}

.btn-primary {
    background-color: #0081BD;
}

.headerpanel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    background-color: #2A2A2A;
    z-index: 2000;
}

.logopanel {
    position: absolute;
    min-width: 255px;
    height: 64px;
    margin-left: 0;
    background-color: #1F1F1F;
    text-align: center;
}

.logo-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-57%, -50%);
}

.leftpanel {
    background-color: #1F1F1F;
    min-width: 255px;
    position: fixed;
    top: 64px;
    left: 0;
    bottom: 0;
    z-index: 100;
    padding-top: 20px;
}

.paneltitle {
    color: #F1C40F;
    text-align: center;
    font-size: 11pt;
    margin: 12px 0 12px 0;
}

.nav {
    margin: 0;
    text-align: left;
    padding-left: 0;
}

.nav .panel,
.nav .panel-heading {
    margin: 0 auto;
    border: none;
    background-color: transparent;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    border-radius: unset;
}

.nav .panel-heading {
    padding: 7px 0;
    margin-left: 10px
}

.nav .panel-collapse {
    margin-bottom: 10px;
}

.nav > .panel > .panel-collapse a {
    display: block;
    padding-left: 40px;
    text-decoration: none;
}

.nav .panel-title > a {
    outline: none;
    display: block;
    padding: 0 0 0 10px;
    color: #909090;
    text-decoration: none;
}

.nav > .panel > .panel-collapse a,
.nav > .panel > .panel-heading > .panel-title {
    list-style: none;
    color: #909090;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: left;
    margin: 0 auto;
    font-size: 12pt;
    font-weight: 700;
}

.nav > .panel > .panel-heading > .panel-title {
    font-size: 16pt;
}

.nav .panel-title > a:active,
.nav .panel-title > a:focus {
    text-decoration: none;
    background: transparent;
}

.nav > .panel > .panel-collapse a.active:hover,
.nav > .panel > .panel-collapse a:hover,
.nav .panel-title > a:hover {
    color: white;
}

.nav .active,
.nav .active a,
.nav > .panel > .panel-collapse a.active {
    color: #0081BD;
    background-color: #292929;
}

.content-panel {
    margin-left: 280px;
    margin-top: 64px;
    padding: 20px;
    position: relative;
    height: 100%;
}

.panel {
    border: none;
}

.panel-heading {
    background-color: #2A2A2A;
    border-color: #2A2A2A;
    color: white;
}

.panel-body {
    margin-bottom: 10px;
}

.btn.pull-right {
    margin-left: 5px;
}

.help-block {
    margin-bottom: 0;
}

.caret-right {
    float:right;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    margin-top: 8px;
    margin-right: -8px;
}

#login {
    background-color: #2A2A2A;
}