body {
    background-color: #d8dce3;;
}

.headerpanel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    background-color: #292929;
    z-index: 2000;
}

.logopanel {
    position: absolute;
    width: 280px;
    height: 64px;
    margin-left: 0;
    background-color: #1F1F1F;
    text-align: center;
}

.logo-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.leftpanel {
    background-color: #2a2a2a;
    width: 280px;
    position: fixed;
    top: 64px;
    left: 0;
    bottom: 0;
    z-index: 100;
}

.paneltitle {
    color: #f1c40f;
    text-align: center;
    font-size: 11pt;
    margin: 12px 0 12px 0;
}

.nav {
    margin: 0 0 10px 0;
    text-align: center;
    padding-left: 0;
}

.nav > li {
    list-style: none;
    font-size: 16pt;
    color: #909090;
    font-weight: 700;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: left;
    margin:0 auto;
}

.nav > li > a {
    color: #909090;
    text-decoration: none;
}

.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.nav-tabs {
    background-color: #1f1f1f;
}

.nav > li.active,
.nav > li.active > a {
    color: white;
    background-color: #1F1F1F;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: white;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 20px;
    background-color: #2a2a2a;
    border-color: transparent;
}

.content-panel {
    margin-left: 280px;
    margin-top: 64px;
    padding: 20px;
    position: relative;
    height: 100%;
}

.panel-heading {
    background-color: #2a2a2a;
    color: white;
}

.btn.pull-right {
    margin-left: 5px;
}

textarea {
    min-width: 100%;
    max-width: 100%;
}

#datepicker {
    width:180px;
}
#datepicker > span:hover {
    cursor: pointer;
}