<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Main{% end %}</title>
    <link rel="icon" type="image/x-icon" href="{{ static_url('images/favicon.ico') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('bower/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('bower/bootstrap-datepicker/css/datepicker.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('bower/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('bower/selectize/dist/css/selectize.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('bower/selectize/dist/css/selectize.bootstrap3.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('bower/datatables/media/css/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('bower/datatables-buttons/css/buttons.dataTables.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('style.css') }}">
</head>

<body>
<header>
    <div class="row">
        <div class="headerpanel">
            <div class="logopanel">
                <a href="/">
                    <img class="logo-image"
                         alt="Shealy Strategic Solutions"
                         src="/static/images/SSS-Landscape-Small.png">
                </a>
            </div>
            <div class="dropdown pull-right" style="margin-right: 10px;">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                        style="margin-top: 15px; min-width: 160px;">
                    {{ user.first_name }} {{ user.last_name }} <span class="caret caret-right"></span></button>
                <ul class="dropdown-menu">
                    {% if user.permissions['developer'] %}
                    <li><a id="clear_company" href="#">Clear Company</a></li>
                    {% end %}
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="leftpanel">
    <div class="nav" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel" id="dashboard-menu">
            <div class="panel-heading">
                <span class="panel-title">
                    <a href="dashboard">
                        <i class="fa fa-tachometer"></i> Dashboard
                    </a>
                </span>
            </div>
        </div>
        <div class="panel" id="calendar-menu">
            <div class="panel-heading">
                <span class="panel-title">
                    <a href="calendar">
                        <i class="fa fa-calendar"></i> Calendar
                    </a>
                </span>
            </div>
        </div>

        <div class="panel" id="company-menu">
            <div class="panel-heading">
                <span class="panel-title">
                    <a href="#company-submenu" class="collapsed" data-toggle="collapse" data-parent="#accordion">
                        <i class="fa fa-building-o"></i> Company
                    </a>
                </span>
            </div>
            <div id="company-submenu" class="panel-collapse collapse">
                <a id="add-company" href="add_company">Add Company</a>
                <a id="mod-company" href="mod_company">Modify Company</a>
                <a id="rem-company" href="rem_company">Remove Company</a>
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading" role="tab">
                <span class="panel-title">
                    <a href="#contact-submenu" class="collapsed" data-toggle="collapse" data-parent="#accordion">
                        <i class="fa fa-user"></i> Contact
                    </a>
                </span>
            </div>
            <div id="contact-submenu" class="panel-collapse collapse">
                <a id="add-contact" href="add_contact">Add Contact</a>
                <a id="mod-contact" href="mod_contact">Modify Contact</a>
                <a id="rem-contact" href="rem_contact">Remove Contact</a>
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">
                    <a href="#notification-submenu" class="collapsed" data-toggle="collapse" data-parent="#accordion">
                        <i class="fa fa-bell"></i> Notification
                    </a>
                </span>
            </div>
            <div id="notification-submenu" class="panel-collapse collapse">
                <a id="add-notification" href="add_notification">Add Notification</a>
                <a id="view-notification" href="view_notification">View Notification</a>
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading" role="tab" id="headingThree">
                <span class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNote">
                        <i class="fa fa-sticky-note"></i> Note
                    </a>
                </span>
            </div>
            <div id="collapseNote" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <a id="add-note" href="add_note">Add Note</a>
                <a id="view-note" href="view_note">View Notes</a>
            </div>
        </div>
    </div>
</div>
<div class="content-panel">
    {% block content-panel %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="panel-heading">{% block panel-heading %}{% end %}</div>
            <div class="panel-body" style="background-color: white;">
                {% block panel-body %}{% end %}
            </div>
        </div>
    </div>
    {% end %}
</div>
<footer>
    <script src="{{ static_url('bower/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ static_url('bower/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('bower/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ static_url('bower/selectize/dist/js/standalone/selectize.min.js') }}"></script>
    <script src="{{ static_url('bower/jquery-form/jquery.form.js') }}"></script>
    <script src="{{ static_url('bower/js-cookie/src/js.cookie.js') }}"></script>
    <script src="{{ static_url('bower/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ static_url('bower/jquery.fixedheadertable/jquery.fixedheadertable.min.js') }}"></script>
    <script src="{{ static_url('bower/jquery-validation/dist/jquery.validate.min.js') }}"></script>
    <script src="{{ static_url('bower/jquery-validation/dist/additional-methods.min.js') }}"></script>
    <script src="{{ static_url('bower/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ static_url('bower/datatables/media/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ static_url('bower/datatables-buttons/js/dataTables.buttons.js') }}"></script>
    <script src="{{ static_url('bower/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ static_url('bower/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ static_url('bower/pdfmake/build/vfs_fonts.js') }}"></script>
    <script src="{{ static_url('bower/datatables-buttons/js/buttons.html5.js') }}"></script>
    <script src="{{ static_url('otrack.js') }}"></script>
    <script src="{{ static_url('ui.js') }}"></script>
    <script>
        $(document).ready(
                navSelector('{% block active %}{% end %}')
        );
        $('#clear_company').click(function () {
            $.get({
                url: '/clear_company',
                success: null
            })
        })
    </script>
    {% block footer %}{% end %}
</footer>
</body>
</html>