{% extends "base.html" %}

{% block title %}Add Company{% end %}
{% block active %}company-menu{% end %}

{% block panel-heading %}Add Company{% end %}
{% block panel-body %}
{% include 'forms/add_company.html' %}
{% end %}
{% block footer %}
<script>
    $('#add_company_form').validate({
        rules: {
            zip: {
                required: true,
                zipcodeUS: true
            },
            state: {
                lettersonly: true
            }
        }
    })
</script>
{% end %}