{% extends "base.html" %}

{% block title %}
    {% if form == 'add' %}
        Add Company
    {% elif form == 'mod' %}
        Modify Company
    {% elif form == 'rem' %}
        Remove Company
    {% end %}
{% end %}
{% block active %}{{ form }}-company{% end %}

{% block content-panel %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div id="alert"></div>
        <div class="panel-heading">
            {% if form == 'add' %}Add Company
            {% elif form == 'mod' %}Modify Company
            {% elif form == 'rem' %}Remove Company{% end %}
        </div>
        <div class="panel-body" style="background-color: white;">
            {% if form == 'add' %}
            {% include 'forms/add_company.html' %}
            {% elif form == 'mod' %}
            {% include 'forms/mod_company.html' %}
            {% elif form == 'rem' %}
            {% include 'forms/rem_company.html' %}
            {% end %}
        </div>
    </div>
</div>
{% end %}

{% block footer %}
<script>
    function load_company(company_id) {
        $.get('/api/v1/company/details/' + company_id, function (company) {
            company = JSON.parse(company);
            $('#company-name').val(company.name);
            // Load employee
            var employee = $('#employee');
            if (employee.length > 0){
                employee.selectize()[0].selectize.setValue(company.employee);
            }
            load_location(company_id);
        })
    }

    function load_location(company_id) {
        $.get('/api/v1/company/location/' + company_id, function (location) {
            location = JSON.parse(location);
            $('#address1').val(location.address1);
            $('#address2').val(location.address2);
            $('#city').val(location.city);
            $('#state').val(location.state);
            $('#zip').val(location.postal_code);
            $('#country').selectize()[0].selectize.setValue(location.country);
        });
    }

    $(function () {
        var add_company = $('#add_company_form');
        var mod_company = $('#mod_company_form');
        var rem_company = $('#rem_company_form');
        var company;

        if (add_company.length > 0) {
            $('#employee').selectize()[0].selectize.setValue('{{ user.uid }}');
            add_company.validate({
                rules: {
                    zip: {
                        required: true,
                        zipcodeUS: true
                    },
                    state: {
                        lettersonly: true
                    }
                }
            });
            submit_form(add_company);
        }

        if (mod_company.length > 0) {
            company = $('#company').selectize()[0].selectize;
            $('#company-name').val(company.getItem(company.getValue()).text());
            load_company(company.getValue());

            company.on('change', function (id) {
                $('#company-name').val(company.getItem(company.getValue()).text());
                load_company(id);
            });
        }

        if (rem_company.length > 0) {
            company = $('#company').selectize()[0].selectize;
            load_company(company.getValue());
            rem_company.validate();
            company.on('change', function (id) {
                load_company(id);
            });
        }
    });
</script>
{% end %}