{% extends 'base.html' %}

{% block title %}
    {% if form == 'add' %}
        Add Contact
    {% elif form == 'mod' %}
        Modify Contact
    {% elif form == 'rem' %}
        Remove Contact
    {% end %}
{% end %}
{% block active %}{{ form }}-contact{% end %}

{% block panel-heading %}
    {% if form == 'add' %}
        Add Contact
    {% elif form == 'mod' %}
        Modify Contact
    {% elif form == 'rem' %}
        Remove Contact
    {% end %}
{% end %}

{% block panel-body %}
    <div id="alert"></div>
    {% if form == 'add' %}
        {% include 'forms/add_contact.html' %}
    {% elif form == 'mod' %}
        {% include 'forms/mod_contact.html' %}
    {% elif form == 'rem' %}
        {% include 'forms/rem_contact.html' %}
    {% end %}
{% end %}

{% block footer %}
<script>
    function load_contact(contact_id) {
        $.get('/api/v1/contact/' + contact_id, function (contact) {
            contact = JSON.parse(contact);
            $('#firstname').val(contact.first_name);
            $('#lastname').val(contact.last_name);
            $('#title').val(contact.title);
            $('#email').val(contact.email);
            $('#phone').val(contact.phone);
        })
    }

    $(function () {
        var add_contact = $('#add_contact_form');
        var mod_contact = $('#mod_contact_form');
        var rem_contact = $('#rem_contact_form');
        var contact = $('#contact')

        if (add_contact.length > 0) {
            add_contact.validate({
                rules: {
                    phone: {
                        phoneUS: true
                    }
                }
            });
        }

        if (mod_contact.length > 0) {
            contact = contact.selectize()[0].selectize;
            mod_contact.validate();
            load_contact(contact.getValue());

            contact.on('change', function (contact_id) {
                load_contact(contact_id);
            });
            submit_form(mod_contact, undefined, true);
        }

        if (rem_contact.length > 0) {
            contact = contact.selectize()[0].selectize;
            rem_contact.validate();

            contact.on('change', function (contact_id) {
                load_contact(contact_id);
            });
            submit_form(rem_contact, undefined, true);
        }
    });
</script>
{% end %}