<table class="table table-striped">
    <thead><tr>
        <th>Date</th>
        <th>Action</th>
        <th>Contact</th>
        <th>Note</th>
    </tr></thead>
    <tbody>
    {% for note in notes %}
    {% set contact = contacts[note['contact']] %}
    <tr>
        <td>{{ escape(note['date']) }}</td>
        <td>{{ escape(note['action']) }}</td>
        <td>{{ escape('%s %s' % (contact['first_name'], contact['last_name'])) }}</td>
        <td>{% raw note['note'] %}</td>
    </tr>
    {% end %}
    </tbody>
</table>