{% extends "base.html" %}

{% block title %}Add Industry{% end %}
{% block active %}industry-menu{% end %}

{% block panel-heading %}Add Company{% end %}
{% block panel-body %}
{% include 'forms/add_industry.html' %}
{% end %}
{% block footer %}
<script>
    function showResponse(responseText, statusText, xhr, $form) {
        console.log(responseText);
    }

    $("#industry_entry").ajaxForm({
        url: 'add_industry',
        type: 'post',
        success: showResponse
    });
</script>
{% end %}