<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sign In{% end %}</title>
    <link rel="icon" type="image/x-icon" href="{{ static_url('images/favicon.ico') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('bower/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('style.css') }}">
</head>
<body>
<header></header>
<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
            </div>

            <div style="padding-top:30px" class="panel-body">
                <form class="form-horizontal" method="post">
                    {% module xsrf_form_html() %}
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="username" value=""
                               placeholder="Enter your username">
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="password"
                               placeholder="Enter your password">
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                            <button type="submit" class="btn btn-primary pull-right">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer>
    <script src="{{ static_url('bower/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ static_url('bower/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</footer>
</body>
</html>