{% extends "base.html" %}

{% block title %}{{ form.title() }} Note{% if form == 'view' %}s{% end %}{% end %}
{% block active %}{{ form }}-note{% end %}

{% block content-panel %}
<div class="row">
    <div class="{% if form == 'view' %}
    col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1
    {% else %}
    col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2
    {% end %}">
        <div class="panel-heading">
            {{ form.title() }} Note{% if form == 'view' %}s{% end %}
        </div>
        <div class="panel-body" style="background-color: white;">
            {% if form == 'add' %}
            {% include 'forms/add_note.html' %}
            {% elif form == 'view' %}
            {% include 'forms/view_notes.html' %}
            {% end %}
        </div>
    </div>
</div>
{% end %}

{% block footer %}
{% if form == 'add' %}
<script>
    function loadNotes(company) {
        var notes = $('#notes');
        var notes_div = notes.parent('div');
        notes_div.hide();

        // Try to load previous notes
        notes.load('/get_notes/' + company, function () {
            // Display previous notes only if not empty
            var hasNotes = $('#notes:not(:empty)');
            if (hasNotes.length > 0) {
                notes_div.show();
            }
        });
    }

    $(function () {
        // Insert a previous notes section into the add notes form
        var company = $('#company')[0].selectize;
        $(
                '<div class="form-group col-lg-12">' +
                '<label>Previous Notes:</label><br>' +
                '<div id="notes"></div>' +
                '</div>'
        ).insertBefore($('#note').parent('div'));

        // Try to load notes
        if (company.getValue() != '') {
            loadNotes(company.getValue());
        }

        // Try to load notes if the selection changes
        company.on('change', function (value) {
            loadNotes(value);
        });
    });

    $('#add_note_form').validate();
</script>
{% elif form == 'view' %}
<script>
    function getCompanyNotes(company_id) {
        var notes = $('#notes').dataTable().api();
        notes.ajax.url('api/v1/company/' + company_id + '/notes').load();
    }

    function getEmployeeNotes(employee_id) {
        var notes = $('#notes').dataTable().api();
        notes.ajax.url('api/v1/employee/' + employee_id + '/notes').load();
    }

    function selectEmployee(company_id, silent) {
        if (company_id != '') {
            $.get('api/v1/company/' + company_id + '/employee',
                    function (data) {
                        var employee = $('#employee').selectize()[0].selectize;
                        data = JSON.parse(data);
                        employee.setValue(data.employee, true);
                    }
            );
        }
    }

    function loadCompanies(employee_id, company_id) {
        var company = $('#company').selectize()[0].selectize;
        company_id = typeof company_id !== 'undefined' ? company_id : '';
        $.get('api/v1/employee/' + employee_id + '/companies',
                function (data) {
                    data = JSON.parse(data);
                    var companies = [];
                    $.each(data, function (idx, obj) {
                        companies.push({'text': obj.name, 'value': obj.id});
                    });
                    company.clearOptions();
                    company.addOption({'text': 'None', 'value': 'None'});
                    company.addOption(companies);
                    if (company_id != '') {
                        company.setValue(company_id);
                    }
                }
        );
    }

    $(function () {
        // Initialize data table
        $('#notes').DataTable({
            ajax: {
                dataSrc: ''
            },
            columns: [
                {data: "name"},
                {data: "first_name"},
                {data: "last_name"},
                {data: "note", width: "30%"},
                {data: "note_type"},
                {data: "note_date"}
            ]
        });

        // Clear preloaded companies
        var prev_sel_comp = Cookies.get('company');
        var company = $('#company').selectize()[0].selectize;
        company.clearOptions();

        // Load only companies associated with an employee
        if (prev_sel_comp) {
            $.get('api/v1/company/' + prev_sel_comp, function (data) {
                data = JSON.parse(data);
                loadCompanies(data.employee, prev_sel_comp);
            });
        }

        // Filter selectable companies based on selected employee
        var employee = $('#employee').selectize()[0].selectize;
        employee.on('change', function (employee_id) {
            loadCompanies(employee_id);
            getEmployeeNotes(employee_id);
        });

        // Load notes
        if (company.getValue() != '') {
            getCompanyNotes(company.getValue());
            selectEmployee(company.getValue());
        } else {
            getEmployeeNotes(employee.getValue());
        }

        // Load notes based on the selected company
        company.on('change', function (company_id) {
            if (company_id === 'None') {
                company.clear();
                getEmployeeNotes(employee.getValue());
            } else if (company_id != '') {
                selectEmployee(company_id);
                getCompanyNotes(company_id);
            }
        });

        var d = new Date();
        initDatePicker('#end_date', d);
        d.setDate(d.getDate() - 90);
        initDatePicker('#start_date', d);
    });
</script>
{% end %}
{% end %}
