{% extends "base.html" %}

{% block title %}{{ form.title() }} Note{% if form == 'view' %}s{% end %}{% end %}
{% block active %}{{ form }}-note{% end %}

{% block content-panel %}
<div class="row">
    <div class="{% if form == 'view' %}
    col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1
    {% else %}
    col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2
    {% end %}">
        <div class="panel-heading">
            {{ form.title() }} Note{% if form == 'view' %}s{% end %}
        </div>
        <div class="panel-body" style="background-color: white;">
            {% if form == 'add' %}
            {% include 'forms/add_note.html' %}
            {% elif form == 'view' %}
            {% include 'forms/view_notes.html' %}
            {% end %}
        </div>
    </div>
</div>
{% end %}

{% block footer %}
{% if form == 'add' %}
<script>
    function loadNotes(company) {
        var notes = $('#notes');
        var notes_div = notes.parent('div');
        notes_div.hide();

        // Try to load previous notes
        notes.load('/get_notes/' + company, function () {
            // Display previous notes only if not empty
            var hasNotes = $('#notes:not(:empty)');
            if (hasNotes.length > 0) {
                notes_div.show();
            }
        });
    }

    $(function () {
        // Insert a previous notes section into the add notes form
        var company = $('#company')[0].selectize;
        $(
                '<div class="form-group col-lg-12">' +
                '<label>Previous Notes:</label><br>' +
                '<div id="notes"></div>' +
                '</div>'
        ).insertBefore($('#note').parent('div'));

        // Try to load notes
        if (company.getValue() != '') {
            loadNotes(company.getValue());
        }

        // Try to load notes if the selection changes
        company.on('change', function (value) {
            loadNotes(value);
        });
    });

    $('#add_note_form').validate();
</script>
{% elif form == 'view' %}
<script>
    function getNotes(company_id) {
        var notes = $('#notes').dataTable().api();
        notes.ajax.url('api/v1/company/notes/' + company_id).load();
    }

    $(function () {
        $('#notes').DataTable({
            ajax: {
                dataSrc: ''
            },
            autoWidth: false,
            columns: [
                {data: "first_name"},
                {data: "last_name"},
                {data: "note", width: "45%"},
                {data: "note_type", width: "75px"},
                {data: "note_date", width: "75px"}
            ]
        });

        var company = $('#company').selectize()[0].selectize;
        getNotes(company.getValue());
        company.on('change', function(company_id) {
            getNotes(company_id);
        });
        var d = new Date();
        initDatePicker('#end_date', d);
        d.setDate(d.getDate()-90);
        initDatePicker('#start_date', d);
    });
</script>
{% end %}
{% end %}
