{% extends "base.html" %}

{% block title %}Add Notification{% end %}
{% block active %}notification{% end %}

{% block panel-heading %}Add Notification{% end %}
{% block panel-body %}
<div class="form-group">
    <form role="form" method="post">
        <div class="form-group">
            <label for="company">Company:</label>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle"
                        aria-haspopup="true"
                        type="button"
                        data-toggle="dropdown"
                        id="company">
                    Company Name <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                {% for company in companies %}
                    <li><a href="#">{{ escape(company) }}</a></li>
                {% end %}
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label>Select Date: </label>
            <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
                <input class="form-control" type="text" readonly />
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
        <div class="form-group">
            <label for="note">Note:</label>
            <textarea class="form-control" rows="5" id="note"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
            <button type="button" class="btn btn-inverse pull-right">Cancel</button>
        </div>
    </form>
</div>
{% end %}