{% extends "base.html" %}

{% block title %}{{ form.title() }} Project{% end %}
{% block active %}{{ form }}-project{% end %}

{% block content-panel %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel-heading">
            {{ form.title() }} Project
        </div>
        <div class="panel-body" style="background-color: white;">
            <div id="alert"></div>
            {% if form == 'add' %}
            {% include 'forms/add_project.html' %}
            {% elif form == 'manage' %}
            {% include 'forms/manage_project.html' %}
            {% end %}
        </div>
    </div>
</div>
{% end %}
{% block footer %}
{% if form == 'add' %}
<script>
    var add_project_form = $('#add_project_form');
    add_project_form.validate();
    submit_form(add_project_form, 'Project or path already exists!');
</script>
{% elif form == 'manage' %}
<script>
    // Initialize data table
    $('#projects').DataTable({
        ajax: {
            url: api.v1.company.url() + '/',
            dataSrc: '',
            type: 'GET'
        },
        columns: [
            {
                data: "name",
                render: function (data, type, row, meta) {
                    if(type === 'display') {
                        data = '<a href="/project/' + row.company + '/' + row.path + '">' + data + '</a>';
                    }
                    return data;
                }
            },
            {data: "description"}
        ]
    });

    var company = $('#company').selectize()[0].selectize;
    company.on('change', function (company_id) {
        api.v1.company.projects(company_id, function () {
            $('#projects').dataTable().api().ajax.url(api.v1.company.url.projects(company_id)).load();
        });
    });
</script>
{% end %}
{% end %}