<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Main{% end %}</title>
    <link rel="icon" type="image/x-icon" href="{{ static_url('images/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('bower/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('bower/bootstrap-datepicker/css/datepicker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('bower/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('style.css') }}">
</head>

<header>
    <div class="headerpanel">
        <div class="logopanel">
            <a href="/">
                <img class="logo-image" alt="Shealy Strategic Solutions" src="/static/images/SSS-Landscape-Small.png">
            </a>
        </div>
    </div>
</header>

<body>
    <div class="leftpanel">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#"><i class="fa fa-ellipsis-h"></i></a>
            </li>
        </ul>
        <ul class="nav">
            <li id="dashboard">
                <a href="dashboard">
                    <i class="fa fa-tachometer"></i>
                    <span> Dashboard</span>
                </a>
            </li>
            <li id="calendar">
                <a href="calendar">
                    <i class="fa fa-calendar"></i>
                    <span> Calendar</span>
                </a>
            </li>
            <li id="company">
                <a href="add_company">
                    <i class="fa fa-building-o"></i>
                    <span> Add Company</span>
                </a>
            </li>
            <li id="contact">
                <a href="add_contact">
                    <i class="fa fa-user"></i>
                    <span> Add Contact</span>
                </a>
            </li>
            <li id="notification">
                <a href="add_notification">
                    <i class="fa fa-bell"></i>
                    <span> Add Notification</span>
                </a>
            </li>
            <li id="note">
                <a href="add_note">
                    <i class="fa fa-sticky-note"></i>
                    <span> Add Note</span>
                </a>
            </li>
        </ul>
    </div>

<div class="content-panel">
    {% block content-panel %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="panel-heading">{% block panel-heading %}{% end %}</div>
            <div class="panel-body" style="background-color: white;">
                {% block panel-body %}{% end %}
            </div>
        </div>
    </div>
    {% end %}
</div>
</body>

<footer>
    <script src="{{ static_url('bower/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ static_url('bower/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('bower/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ static_url('otrack.js') }}"></script>
    <script>
        // Nav selector
        $(document).ready(function () {
            $(".nav ul li").removeClass("active");
            $('#{% block active %}{% end %}').addClass('active');
        });
    </script>
    {% block footer %}{% end %}
</footer>
</html>