{% extends 'base.html' %}

{% block title %}
    {% if form == 'wire_cutting' %}
        Wire Cutting
    {% end %}
{% end %}
{% block active %}wire-cutting{% end %}

{% block content-panel %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <div class="panel-heading">
            {% if form == 'wire_cutting' %}
                Wire Cutting
            {% end %}
        </div>
        <div class="panel-body">
            {% include 'forms/wire_cutting.html' %}
        </div>
    </div>
</div>
{% end %}

{% block includes %}
<script src="{{ static_url('js/forms/' + form + '.js') }}"></script>
{% end %}