{% extends 'base.html' %}

{% block title %}
    {% if form == 'work_order' %}
        Wire Cutting
    {% end %}
{% end %}
{% block active %}work-order{% end %}

{% block content-panel %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <div class="panel-heading">
            {% if form == 'work_order' %}
                Work Order
            {% end %}
        </div>
        <div class="panel-body">
            <div id="alert"></div>
            {% include 'forms/work_order.html' %}
        </div>
    </div>
</div>
{% end %}

{% block includes %}
{% if form == 'work_order' %}
<script>
    var uoms = {};
    $({% raw json_encode(uoms) %}).each(function (idx, e) {
        uoms[e.uom] = e.label;
    });

    var consumables = {};
    $({% raw json_encode(consumables) %}).each(function (idx, e) {
        consumables[e.part_number] = uoms[e.uom];
    });
</script>
{% end %}
<script src="{{ static_url('js/forms/' + form + '.js') }}"></script>
{% end %}