<div class="{{ classes }}">
    <label for="employee" class="control-label">{{ label }}</label>
    <select id="employee" name="employee" class="form-control"
            placeholder="Select an employee..."
            {% if required %}required="required"{% end %}>
        <option value="">Select an employee...</option>
        {% for employee in employees %}
        <option value="{{ employee[0] }}">{{ escape(employee[1]) }} {{ escape(employee[2]) }}</option>
        {% end %}
    </select>
</div>