<div class="{{ classes }}">
    <label for="part_number">{{ label }}</label>
    <!-- Placeholder is used by Selectize -->
    <select id="part_number" name="part_number" class="form-control" placeholder="Select an item..."
            {% if required %}required="required"{% end %}>
        <option value=""></option>
        {% for part_number in part_numbers %}
        <option value="{{ part_number['part_number'] }}">{{ part_number['part_number'] }}</option>
        {% end %}
    </select>
</div>