<div class="ui-selectize {{ classes }}">
    <label for={{ name }}>{{ label }}</label>
    {# Placeholder is used by Selectize #}
    <select id="{{ uid }}" name="{{ name }}" class="form-control" placeholder="Select a station..."
            {% if required %}required="required"{% end %}>
        <option value=""></option>
        {% for station in stations %}
        <option value="{{ station['id'] }}">{{
                ('%s: %s %s' % (station['location'], station['first_name'], station['last_name'])).upper()
        }}</option>
        {% end %}
    </select>
</div>