<div class="ui-selectize {{ classes }}">
    <label for={{ name }}>{{ label }}</label>
    {# Placeholder is used by Selectize #}
    <select id="{{ uid }}" name="{{ name }}" class="form-control" placeholder="Select a station..."
            {% if required %}required="required"{% end %}>
        <option value=""></option>
        {% for station in stations %}
        <option value="{{ station['id'] }}">{{ station['location'] + ': ' + station['name'] }}</option>
        {% end %}
    </select>
</div>